#submitCity {
  border-radius: 15px;
  width: 120px;
  height: 60px;
  color:blue;
  font-size:inherit;
  background-color: grey;
}
body{
  background-color: rgb(241, 224, 224);
}

#pastCity{
  /* background-color: greenyellow; */
  text-align: center;
  display: inline-block;
  width: 200px;

  height: 55px;
}
li{
  
  display: block;
}
.uvred{
  background-color: red;
}

.uvblue{
  background-color: blue;
}

.uvyellow{
  background-color: yellow;
}
.historyButton{
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: cornflowerblue;
}

.cityCard{
  font-size: 20px;
  po

}
p{
  display: inline-table;
  flex-wrap: wrap;
  flex-direction:row;
  background-color: lightskyblue;
  max-width: 20%;
  padding-right: 5px;
  
}
.weatherCard{
  border-radius: 15px;
  padding: 25px;
  width: 20%;
  justify-content: center;
  margin: auto;
  
  border-color: rgb(88, 84, 84);
  border-width: 3px;
}

#currentCity{
  background-color: rgb(51, 154, 185);
  font-size: 64px;
  width: 70%;
  text-size-adjust: 30%;
  position: relative;
  top: 5px;
  right: -20%;
  height: 30%;
}

.date{
  background-color: lightcoral;
  background-color: lightgreen;
  justify-content: center;

}

.wImage{
  max-block-size: 150px;
  justify-content: right;
}